/* General Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}

/* Animated Gradient Border */
@keyframes animatedGradient {
    0% { border-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff) 1; }
    33% { border-image: linear-gradient(45deg, #00ff00, #0000ff, #ff0000) 1; }
    66% { border-image: linear-gradient(45deg, #0000ff, #ff0000, #00ff00) 1; }
    100% { border-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff) 1; }
}

/* Base Styles for Headers and Sections */
header, section {
    border-radius: 12px;
    background-color: #1e1e1e;
    margin: 20px;
    padding: 20px;
    border: 3px solid transparent; /* For border-image */
}

/* Individual Floating Animations */
@keyframes floatHeader {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
}

@keyframes floatTech {
    0%, 100% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
}

@keyframes floatPersonal {
    0%, 100% { transform: translateY(-15px); }
    50% { transform: translateY(15px); }
}

@keyframes floatFreeTime {
    0%, 100% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
}

/* Applying Individual Animations */
header {
    animation: floatHeader 6s ease-in-out infinite, animatedGradient 3s linear infinite;
}

section#tech {
    animation: floatTech 7s ease-in-out infinite, animatedGradient 4s linear infinite;
}

section#personal {
    animation: floatPersonal 5s ease-in-out infinite, animatedGradient 5s linear infinite;
}

section#free-time {
    animation: floatFreeTime 8s ease-in-out infinite, animatedGradient 3.5s linear infinite;
}

/* Clock */
#clock {
    font-size: 24px;
    text-align: right;
}

/* Toggle Container */
#toggle-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.dark-switch .slider {
    background-color: #1e1e1e;
}

/* Snowfall */
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.7;
    top: 0;
    animation: fall linear 5s infinite;
}

@keyframes fall {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}

#snowfall {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity 2s ease-in;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

body::-webkit-scrollbar:hover {
    opacity: 1;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}
